@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#logo{
  width: 200px;
}
.navbar {
  display: flex;
  background-color: #ff7243;
}

/* Style the navigation bar links */
.navbar a {
  color: black;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  margin-top: 0px;
  margin: 0;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #c15128;
  color: white;
  transition: 0.50s;
}

.Extras {
    text-align: center;
    font-family: nunito;
    color: #8B0000
}

h2 {
    font-size: 14px;
    margin: 2px;
    font-weight: normal;
}

.titulos h1 {
    font-family: nunito;
    background-color: #ff7243;
    color: #8B0000;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.Pessoas {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Pessoa {
    margin: 10px;
    margin-bottom: 20px;
    transition: border .2s;
    width: 230px;
}

.Pessoa {
    margin: 10px;
    margin-bottom: 20px;
    max-width: 100%;
    -moz-animation: all 0.5s;
    -webkit-animation: all 0.5s;
    transition: all 0.5s;
    opacity: 0.78;
}

.Pessoa:hover {
    margin-top: 20px;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1.5;
}

.Pessoa img {
    float: center;
    width: 230px;
    height: 230px;
    border-radius: 5px;
}

.Pessoa p {
    height: 230px;
    text-align: center;
    padding: 5px 10px;
    color: #8B0000;
    font-family: Nunito;
    border-radius: 10px;
    display: inline-block;
}

.Pessoa h7 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 10px;
    color: #8B0000;
    font-family: Nunito;
}

.titulos {
    font-family: Montserrat;
    background-color: #ff7243;
    color: #8B0000;
    border-radius: 10px;
    font-size: 35px;
    margin: 10px;
    padding: 0px 25%;
}

.Vaga {
    margin: 10px;
    margin-bottom: 20px;
    transition: border .2s;
    width: 230px;
}

.Vaga {
    max-width: 100%;
    -moz-animation: all 0.5s;
    -webkit-animation: all 0.5s;
    transition: all 0.5s;
    opacity: 0.78;
}

.Vaga:hover {
    margin-top: 20px;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1.5;
}

.Vaga img {
    float: center;
    width: 230px;
    height: 230px;
    border-radius: 5px;
}

.Vaga p {
    height: 230px;
    text-align: center;
    color: #8B0000;
    font-family: Nunito;

}

.Vaga h7 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 10px;
    color: #8B0000;
    font-family: Nunito;
}
@media (max-width: 700px) {
  .row, .navbar {
    flex-direction: row;
  }
@media (max-width: 500px){
  .row, .navbar {
    flex-direction: row;
  }
}
@media (max-width: 300px){
  .row, .navbar {
    flex-direction: row;
  }
}
