@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    left: 0;
    top: 0;
    width: 100%;
    display: inline-block;
    background-color: #f57d51;
    border-radius: 5px;
}

#menu ul {
    text-align: right;
    list-style: none;
    padding: 0;
}

#menu ul img {
    width: 200px;
}

#menu ul li {
    display: inline-block;
    padding-bottom: 0;
}

#menu ul li a {
    font-family: Nunito;
    font-size: 22px;
    text-decoration: double;
    text-align: right;
    text-decoration: none;
    margin-top: 70%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 7px;
    color: #8B0000;
    padding: 10px;
    display: inline-block;
    transition: background .4s;
}

#menu ul li a:hover {
    background-color: #ec0b38;
    border-radius: 5px;
    color: aliceblue
}

#menu ul li:first-child {
    float: left;
}

#Catalogo {
    margin-top: 10px;
}

#Catalogo h2 {
    font-family: Nunito;
    text-align: center;
    color: #8B0000;
    border-radius: 10px;
}

.Titulos h1 {
    font-family: Montserrat;
    background-color: #ff7243;
    color: #8B0000;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    width: 70%;
    margin: 20px 15%;
}

.Comidas {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.comida {
    margin: 10px;
    margin-bottom: 20px;
    transition: border .2s;
    max-width: 100%;
    -moz-animation: all 0.5s;
    -webkit-animation: all 0.5s;
    transition: all 0.5s;
    opacity: 0.78;
}

.comida:hover {
    border: 2px solid rgba(245, 34, 6, 0.781);
    border-radius: 5px;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1.5;
}

.comida img {
    width: 300px;
    height: 250px;
}

.Comidas p {
    text-align: center;
    padding: 5px 10px;
    background-color: #ff7243;
    color: #8B0000;
    font-family: Nunito;
    border-radius: 5px;
}

.titulos {
    font-family: Montserrat;
    background-color: #ff7243;
    color: #8B0000;
    border-radius: 10px;
    font-size: 35px;
    margin: 10px;
    padding: 0px 25%;
}

.botaodecomprar {
    background-color: rgb(4, 182, 4);
    text-decoration: none;
    margin-top: 30px;
    padding: 2px;
    border-radius: 5px;
    color: white;
    box-shadow: 2px 2px 2px black;
}
