* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #c94b21, #E9967A);
}

.login-page {
    width: 350px;
    height: 420px;
    background: linear-gradient(to right, #2f2f30, #141414);
    position: absolute;
    top: 45%;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .45;
}

.login-page:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.login-page h1 {
    margin-bottom: 30px;
}

.login-page form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-page form input {
    width: 250px;
    height: 35px;
    margin: 8px;
    background: #ffffff;
    color: #000000;
    border: none;
    padding-left: 10px;
    outline: none;
    cursor: pointer;
    transition: all .4s;
}

.login-page form input:focus {
    background: rgb(36, 34, 34);
    color: white;
    font-size: 1em;
    border: 2px solid rgba(245, 34, 6, 0.781);
}

.login-page form.bnt {
    width: 250px;
    height: 35px;
    margin: 8px;
    background: #ffffff;
    color: #e2e2e2;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .4s;
}

.login-page form .btn:hover {
    background: #ffffffe1;

}

p {
    margin-top: 6px;
    margin-bottom: 6px;
}

.icons {
    width: 250px;
    height: 40px;
    display: flex;
    margin: 10px 0;
    justify-content: space-around;
    align-items: center;
}

.icons div {
    width: 122px;
    height: 40px;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2px;
    transition: all .4s;
    cursor: pointer;
    background-color: #fff8f8;
}


.icons div:nth-child(2) {
    border: 2px solid #000000;
}

.icons div i {
    margin: 8px;
    transition: all .4s;
}

.icons div:hover i {
    color: #ffffff;
    background: rgb(36, 34, 34);
}

.icons div:hover:nth-child(1) {
    background: rgb(36, 34, 34);
    color: #ffffff;
    font-size: 1em;
    border: 2px solid rgba(245, 34, 6, 0.781);
}

.icons div:hover {
    color: rgb(255, 255, 255);
}

.icons div:hover:nth-child(2) {
    background: rgb(36, 34, 34);
    color: #ffffff;
    font-size: 1em;
    border: 2px solid rgba(245, 34, 6, 0.781);
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(255, 255, 255);
}

#enviar {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    font-size: 1em;
}

#enviar:hover {
    transition: all .4s;
    background: rgb(36, 34, 34);
    color: white;
}
#erro{
  color: blue;
  background-color: blue;
}

#botão_registro{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 7.8%;
}
