* {
  box-sizing: border-box;
}

#alterar_dados{
  text-align: center;
  margin: 10px;
}
#alterar_dados_button{
  border: outset 2px black;
  color: white;
  background-color: #ff7243;
  padding: 10px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#alterar_dados_button:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #ff7243;
  border: outset 2px black;
  transition: 0.5s;
  color: white;
  cursor: pointer;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}
.tile-starfood{
  background: yellow;
  padding: 2px
}

/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #FF9F81;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #ff7243;
}

/* Style the navigation bar links */
.navbar a {
  color: black;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  margin-top: 0px;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #FF0000;
  color: white;
  transition: 0.50s;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}


/* Fake image, just for this example */
.fakeimg {
  padding: 5px;
  padding-bottom: 10%;
  text-align: center;
  font-size: 1em;
}

#img-usuario{
  border-radius: 5%;
  background: black;
  margin: 2.5px;
}
.anucio-de-vip !important{
  font-family: cursive;
  padding: 20px;
  padding-bottom: 20%;
  border: 2px solid black;
  display: inline-block;
}

.anucio-de-vip p{
  font-size: 1em;
  text-align: center;
}

#imagem-vip{
   float: left;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}
#vipicon{
  width: 80px;
  height: 70px;
  display: block;
  margin: auto;
  max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
#vipicon:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
  .row, .navbar, .anucio-de-vip{
    flex-direction: column;
  }
@media (max-width: 500px){
  .row, .navbar, .anucio-de-vip {
    flex-direction: row;
  }
}
@media (max-width: 300px){
  .row, .navbar, .anucio-de-vip{
    flex-direction: row;
  }
}
