@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
* {
  box-sizing: border-box;
}

#alterar_dados{
  text-align: center;
  margin: 10px;
  margin-top: 180px;
}
#alterar_dados_button{
  border-radius: 5px;
  border: outset 2px black;
  color: white;
  background-color: #FF4500;
  padding: 10px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#alterar_dados_button:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #FF8C00;
  border: outset 2px black;
  transition: 0.5s;
  color: white;
  cursor: pointer;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}
.tile-starfood{
  background: yellow;
  padding: 2px
}

/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: white;
  color: black;
  font-size: 18px;
  font-family: sans-serif;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #ff7243;
}

/* Style the navigation bar links */
.navbar a {
  color: black;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  margin-top: 0px;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #FF0000;
  color: white;
  transition: 0.50s;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  padding: 20px;
}


/* Fake image, just for this example */
.fakeimg {
  color: white;
  padding: 5px;
  padding-bottom: 5%;
  text-align: center;
  font-size: 1em;
}

#dados{
  background-color: #FF0000;
  height: 650px;
  width: 360px;
  font-size: 1em;
  margin: 0 auto;
  border-radius: 5px;
}

#dados h1{
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  padding-bottom: 5%;
  padding-top: 4;
  text-align:center;
}

#dados:hover{
    filter: drop-shadow(10px 10px 10px grey);
}

/*
  CSS para alinhar a imagem da foto de perfil do usuário.
*/
.alinhar-imagem{
  margin: 0 auto;
  width: 200px;
  padding-bottom: 10px;
  margin-right: 32%;
  padding-top: 10px;
}

/*Imagem de usuário:
- clip-path ==> Recorta a imagem em formas geométricas dependendo dos
 valores etc.
- height e width ==> Definindo a altura e largura da imagem para ficar circular.
*/

.imagem-usuario{
  clip-path: circle(50% at 50% 50%);
  height: 280px;
  width: 280px;
}

/*CSS para aparecer o nome "Alterar foto". Não sei porque não funcionou
mas depois vou tentar refazer.

.imagem-usuario:hover{
  background-color: white;
  clip-path: circle(50% at 50% 50%)
  opacity: 0.5;
}
*/

.anucio-de-vip !important{
  font-family: cursive;
  padding: 20px;
  padding-bottom: 20%;
  border: 2px solid black;
  display: inline-block;
}

.anucio-de-vip p{
  font-size: 1em;
  text-align: center;
}

#imagem-vip{
   float: left;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}
#vipicon{
  width: 80px;
  height: 70px;
  display: block;
  margin: auto;
  max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
#vipicon:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
  .row, .navbar, .anucio-de-vip{
    flex-direction: row;
  }
@media (max-width: 500px){
  .row, .navbar, .anucio-de-vip {
    flex-direction: row;
  }
}
@media (max-width: 300px){
  .row, .navbar, .anucio-de-vip{
    flex-direction: row;
  }
}
