*{
  margin: 0;
  padding: 0;
  font-family: inherit;
}
body{

}
.bkg{

}
.bkg form{
  text-align: center;
  margin-top: 80px;
  border: solid 2px black;
  width: 300px;
  background-color: #6f34b9;
  color: #99b61c;
}
