body{
  text-align: center;
  background: #f8f8f8;
}
#compras{
  border: outset 2px black;
  width: 500px;
  margin-left: 30%;
  margin-top: 8%;
  padding: 8px;
  background: #ff7243;
  display: block;
}
#compras:hover{
  001em blackbox-shadow: 200px;

}
#titulo_carrinho{
  font-family: inherit;
  font-size: 25px;
  padding-bottom: 10px;
}
#tabela_compras{
  border: solid 2px black;
}
td{
  border: solid 1px black;
}
#produto_nulo{
  font-size: 20px;
  color: white;
}
#button{
  padding: 6px;
  margin: 12px;
  background: #00CD00;
}
#button:hover{
  transition: all .1s;
  background: #00EE00;
  padding: 10px;
}
